@import "tailwindcss";

html{
   scroll-behavior: smooth;
}

   
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #070a13;
}

#root{
   min-height: 100vh;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: rgba(35, 221, 246, 0.6);
  border-radius: 50px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #23ddf6;
}
